
function vi-note(){
  topic=$1
  $EDITOR $NOTE_FILES/${topic}.md
}
export NOTE_FILES=$DROPBOX_HOME/markdown
#markdown alias
for topic in {android,ios,git,dp,kt}; do
  alias vi-note-${topic}="$EDITOR $NOTE_FILES/${topic}.md";
done

# utils for search google 
alias ggg='googler -n 7 -c ru -l ru'

alias m='mvim 'a
alias o="open "
alias ptt="ssh bbsu@ptt.cc"

# Fast ui alias
source ~/fastai/courses/setup/aws-alias.sh
source $HOME/anaconda2/bin/aws_zsh_completer.sh
